<h1>Preguntas y respuestas</h1>

<br>          
<ul>
    <li><strong>Como puedo ofertar mis espacios de estacionamientos?</strong></li>

    <p>Primero se tiene que registrar como usuario, para ello deberá ingresar sus datos.</p>

    <li><strong>Como puedo saber si todos mis espacios ofertados están copados?</strong></li>

    <p>Con el usuario que te registraste, puedes ir al menu Administrar y verificar tus espacios.</p>

    <li><strong>Cuanto es el costo del aplicativo web?</strong></li>

    <p>Automáticamente se descuenta el 20% del precio de alquiler de cada estacionamiento.</p>

    <li><strong>Cuanto tiempo dura las reservaciones?</strong></li>

    <p>10 minutos después de cumplirse la hora marcada como ingreso.</p>

    <li><strong>Existe algún contrato o tiempo de vinculación con el servicio?</strong></li>

    <p>No, la aplicación está libre de tiempos de contrato.</p>

    <li><strong>Puedo ofertar varios espacios de estacionamiento?</strong></li>

    <p>Si, con un mismo usuario.</p>

    <li><strong>Puedo ir ofertando diferentes precios de acuerdo como avanza el día?</strong></li>

    <p>Si, de acuerdo a la capacidad disponible.</p>

    <li><strong>Puedo otorgar precios especiales a mis clientes frecuentes?</strong></li>

    <p>Es correcto, en el menu Administración puede mostrar un listado de sus clientes frecuentes.</p>

    <li><strong>Me puedo desvincular de la aplicación cuando ya no la necesite?</strong></li>

    <p>Si, con libertad.  No hay contrato ni tiempos establecidos.</p>

</ul>